body {
	background-color: #08243A;
	color: #f3f5f7;
}

.col-4 {
	background-color: #F98538;
	border-radius: 25px;
	margin: 15px;
	padding: 15px;
}

button {
	background-color: #C69C6C;
	border-radius: 20px;
	margin: 15px;
	padding: 15px;
	border: none;
	color: #f3f5f7;
}

button:hover {
	background-color: #a86d2b;
}